# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://woparetenzhbbgvgxlvk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndvcGFyZXRlbnpoYmJndmd4bHZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg0NDA3NzgsImV4cCI6MjA2NDAxNjc3OH0.KHr-EZthlNtaXYrE-3QJE5OQpgXVNbN8gU_Lm4Xwo9Q
NEXT_SITE_URL=http://localhost:3000
NEXT_REDIRECT_URLS=http://localhost:3000/
